<!DOCTYPE html>

<html lang="en">
  <head>
    <title>{{ status_code }}</title>
    <meta name="description" content="Daniel's website" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/new.css" />
    <style>
      * {
        text-align: center;
      }

      body {
        display: flex;
        align-items: center;
      }

      .breakdown {
        max-width: min(80rem, 95vw);
        text-align: left;
      }
    </style>
  </head>

  <body>
    <h1>{{ status_code }}</h1>
    <p>Something went wrong!</p>
    <p>Try checking back again later!</p>
    <p>
      Did you mean to visit the
      <a href="/">main site?</a>
    </p>

    <h3>Breakdown:</h3>
    <p class="breakdown">{{ body|safe }}</p>

    <footer></footer>
  </body>
</html>
