<!DOCTYPE html>

<html lang="en">
  <head>
    <title>{{ status_code }} Error</title>
    <meta name="description" content="Daniel's website" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/new.css" />
    <style>
      * {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <h1>{{ status_code }} Error</h1>
    <h1>Oops!</h1>
    <p>This page doesn't exist yet!</p>
    <p>Try checking back again later!</p>
    <p>
      Did you mean to visit the
      <a href="/">main site?</a>
    </p>

    <h3>Response:</h3>
    <p>{{ message }}</p>

    <footer></footer>
  </body>
</html>
